body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.title {
    color: blue;
    text-align: center;
    margin-bottom: 40px;
}

.section-box {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
}

.form-box {
    width: 300px;
    margin-top: 10px;
}

img {
    border-radius: 6px;
}

.img-col p {
    text-align: center;
    font-weight: bold;
}

button {
    margin-top: 10px;
}
